{% extends "base.html" %}

{% block content %}

<div class="page-title">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                
                <h2 class="ipt-title">Ajouter Un Promoteur</h2>
                <!-- <span class="ipn-subtitle">Listes de toutes nos agences Popular -->
                </span>
                
            </div>
        </div>
    </div>
</div>
<section>


	{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
	{% endfor %}
	
	{% endif %}



<div class="container text-center">
	<form method="POST"> {% csrf_token %}
		<div class="row">
			<div class="col-lg-7 col-md-7">

				
				<div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="form-group">
                            <label>Nom </label>
                            {{form.nom}}
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="form-group">
                            <label>Prenom</label>
                            {{form.prenom}}
                        </div>
                    </div>
				</div>
				<div class="form-group">
                    <label>site_web</label>
                    <!-- <input type="text" class="form-control simple"> -->
                    {{form.site_web}}
				</div>
			
				 <div class="form-group">
                    <label>Adresse </label>
                    <!-- <input type="text" class="form-control simple"> -->
                    {{form.adress}}
				</div>
	
			
				

				 
                <div class="form-group">
                    <button class="btn btn-theme" type="submit">Ajouter Promoteur</button>
                </div>
				



			</div>
		</div>
	</form>

</div>

</section>
{% endblock %}